
.fhh_card {
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  box-shadow: 5px 5px #CCC;
  display:flex;
  flex-wrap:wrap;
  padding-bottom:5px;
  margin:10px;
}

.fhh_title {
  background-color:ddd;
  border-bottom:1px solid black;
  width:100%;
  padding:5px;
  text-align:center;
}
.fhh_picture_box {
  float:left;
  height:100px;
}

.fhh_stats_box {
  width:200px;
  float:left;
}

.fhh_race_ethnicity_box {
  width:300px;
  float:left;
}

.fhh_disease_box {
  width:100%;
  float:left;
  padding:10px;
}

.edit_dialog {
  font-size: small;
  background-color:EEE;
}
