body {
    font-family: Arial, Verdana, sans-serif;
}

table.navbar{
  width:100%;
}

#import {
  width:20%;
  background-color: #DD8;
  border: 2px solid #AA4;
  text-align:center;
}

#import:hover {
  background-color: #FF8;
  cursor: pointer;
}

#load {
  width:20%;
  background-color: #66C;
  border: 2px solid #008;
  text-align:center;
}

#load:hover {
  background-color: #88F;
  cursor: pointer;
}

#save {
  width:20%;
  background-color: #B84;
  border: 2px solid #840;
  text-align:center;
}

#save:hover {
  background-color: #FD8;
  cursor: pointer;
}

#export {
  width:20%;
  background-color: #D8D;
  border: 2px solid #A4A;
  text-align:center;
}

#export:hover {
  background-color: #FAF;
  cursor: pointer;
}

#clear {
  width:20%;
  background-color: #4D4;
  border: 2px solid #080;
  text-align:center;
}

#clear:hover {
  background-color: #8F8;
  cursor: pointer;
}


#administrativeGenderCode:hover {
  background-color: #FF8;
  cursor: pointer;
}



#simplified {
  width:33%;
  background-color: #DD8;
  border: 2px solid #AA4;
  text-align:center;
}

#simplified:hover {
  background-color: #FF8;
  cursor: pointer;
}

#demographics {
  width:33%;
  background-color: #66D;
  border: 2px solid #00A;
  text-align:center;
}

#demographics:hover {
  background-color: #88F;
  cursor: pointer;
}

#diseases {
  width:33%;
  background-color: #4D4;
  border: 2px solid #0A0;
  text-align:center;
}

#diseases:hover {
  background-color: #8F8;
  cursor: pointer;
}

.fhh{
  width:100%;
  border-collapse: collapse;
  border: 2px solid black;
  padding: 3px;
}

th {
  border: 2px solid black;
  text-align:left;
  background-color:#DDD;
  padding: 3px;
}

th.h_left {
  text-align:left;
}
th.h_center {
  text-align: center;
}

td.person_name {
  border: 1px solid black;
  width:500px;
  color:green;
  padding: 3px;
}

td.relationship {
  border: 1px solid black;
  width:100px;
  padding: 3px;
  text-align:center;
}

td.edit {
  border: 1px solid black;
  width:100px;
  padding: 3px;
  text-align:center;
}

td.trash {
  border: 1px solid black;
  width:100px;
  padding: 3px;
  text-align:center;
}
