
.fhh_card {
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  box-shadow: 5px 5px #CCC;
  display:flex;
  flex-wrap:wrap;
  padding:5px;
  margin:10px;
}

.edit_dialog {
  font-size: small;
  background-color:EEE;
}
